.detail-left{
    font-size: 20px;
    font-weight: 500;
    color: #ccc;
}
.detail-product img{
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px;
    float: left !important;
    /* display: inline-block; */
}
.detail-product p{
    margin: 0;
    font-size: 14px;
    float: left;
}
.detail-left-product{
    float: left;
}

/* .detait-product  */